// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
// ol, ul {
// 	list-style: none;
// }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-size:62.5%;
    height: 100%;
}

@text:#07345f;

@blue:steelblue;

@backgroundcolor:mistyrose;

.border(){
	border:2px solid steelblue;
}//This marks the end of mixin1
.font(){
	font-family:'raleway',sans-serif;
}
html{
	max-width:100%;
}//This marks the end of the reset
header{
	display:flex;
	flex-direction: column;
	align-items: center;
	background-image: url(https://images.unsplash.com/photo-1532779952550-b8fc9200ed8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment: scroll;
	nav{
		.font();
		margin-top: 20px;
		font-size:2rem;
		@media(max-width:500px){
			display:flex;
			flex-direction:column;
			text-align: center;
			font-size: 3rem;
			margin-top:0;
		}
		:hover{
			color:rgb(255, 208, 189);
		}//This marks the end :hover
		a {
			padding:5rem;
			color:@blue;
		} //This marks the end of a links
	}//This marks the end of nav
	img{
		width:500px;
		height:400px;
		margin:40px auto;
	}//This marks the end of img
	h1{
		.font();
		text-decoration: underline;
		font-size:5rem;
		color:rgb(255, 208, 189);
	}//This marks the end of h1
	h3{
		.font();
		font-size:2rem;
		padding:2rem;
		color:@blue;
	}//This marks the end of h3
	p{
		.font();
		font-size:1.4rem;
		padding:2rem;
		color:@blue;
	}//This marks the end of P
}//This marks the end of Header
.container{
	.font();
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
	padding:1rem;
	background-color: @backgroundcolor;
	.border();
	h2{
		text-decoration: underline;
		font-size:2.5rem;
		padding:1rem;
		text-align: center;
		color:@blue;
	}//this marks the end of h2
	ol{
		color:@text;
		line-height:1.5;
		text-align:left;
		font-size:1.6rem;
	}//This marks the end of the ol
}//This marks the end of container
.closer{
	.font();
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: @backgroundcolor;
	.border();
}//This marks the end of closer
h2{
	text-align: center;
	font-size:2.5rem;
	padding:1rem;
	color: @blue;
	text-decoration:underline;
}//This marks the end of h2
p{
	text-align: center;
	font-size:1.6rem;
	padding:2rem;
	line-height: 1.5;
}//This marks the end of p
footer{
	display:flex;
	flex-direction:column;
	align-items: center;
	padding:2rem;
	background: url(https://images.unsplash.com/photo-1532779952550-b8fc9200ed8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	button{
		font-size:1.8rem;
		margin-bottom:25px;
		background-color: @backgroundcolor;
		.border();
		box-shadow: @text;
		a:hover{
			color:darksalmon;
		}//This marks the end of a:hover
		a{
			color: @blue;
		}//This marks the end of the mail link
	}//This marks the end of button
	a{
		.font();
		color:rgb(255, 208, 189);
		padding:1rem;
		font-size:1.6rem;
		@media(max-width:500px){
			font-size: 2rem;
		}
	}//This marks the end of social links
	a:hover{
		color:@blue;
	}//This marks the end of the hover
}//This marks the end of footer
